<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header class="header">
        <a href="#home" class="logo">
            In<span>Vista</span>
        </a>

        <i class="bx bx-menu" id="menu-icon"></i>
        
    </header>

    <section class="home" id="home">
        <div class="home-content">
            <h1>Busca la <span>Infomación</span></h1>
            <h3 class="text-animation">
                Encuentra <span></span>
            </h3>
            <p>
                Este es un software que permite cálculos los activos de una empresa, solo ingresa el dominio de la empresa y dale al botón de buscar.
            </p>

            <br>
            <br>

            <div class="search-container">
                <div class="box">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                    </svg>
                    <input type="text" id="domainInput" placeholder="Buscar...">
                </div>
                <div class="button-container">
                    <button id="searchButton">Buscar</button>
                </div>
            </div>

        </div>

        <div class="home-img">
            <img src="https://i.pinimg.com/originals/b0/0c/92/b00c92e2a04a1ce04e31ff53205bad4f.gif" alt="">
        </div>

    </section>


</body>

</html>
